<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRHiDgkJzvGmw6nOdVAyB7N4Tnuoy6W2o</string>
	<key>GCM_SENDER_ID</key>
	<string>350355068799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.kapildev.demo</string>
	<key>PROJECT_ID</key>
	<string>test-e61bd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-e61bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350355068799:ios:0748e15a7d3891666bac4a</string>
</dict>
</plist>